In [1]:
import numpy
import pandas

In [2]:
df = pandas.read_csv('spam.csv', encoding="ISO-8859-1")

In [3]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
3485,ham,"Yeah, probably earlier than that",NaN,NaN,NaN
2727,ham,Whatsup there. Dont u want to sleep,NaN,NaN,NaN
4638,ham,Of course. I guess god's just got me on hold r...,NaN,NaN,NaN
2261,ham,Did you show him and wot did he say or could u...,NaN,NaN,NaN
1372,ham,1) Go to write msg 2) Put on Dictionary mode 3...,NaN,NaN,NaN

In [4]:
df.shape

(5572, 5)

## 1. Data Cleaning

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [8]:
# droping last three columns
df.drop(columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace = True)

In [9]:
df.sample(5)

        v1                                                 v2
155    ham                       Aaooooright are you at work?
1983   ham  I wnt to buy a BMW car urgently..its vry urgen...
1687  spam  Free Top ringtone -sub to weekly ringtone-get ...
5161   ham  Lol no. I just need to cash in my nitros. Hurr...
33     ham  For fear of fainting with the of all that hous...

In [10]:
# renaming columns
df.rename(columns = {'v1':'target', 'v2':'text'}, inplace = True)
df.sample(5)

     target                                               text
959     ham                                            Where @
298     ham  I cant pick the phone right now. Pls send a me...
1746    ham  I don know account details..i will ask my mom ...
4709    ham  Ya i knw u vl giv..its ok thanks kano..anyway ...
690     ham                                 Was the farm open?

In [12]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [14]:
df['target'] = encoder.fit_transform(df['target'])

In [15]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [16]:
# check for missing values
df.isnull().sum()

target    0
text      0
dtype: int64

In [17]:
# check for duplicate values
df.duplicated().sum()

403

In [18]:
# removing duplicates
df = df.drop_duplicates(keep = 'first')

In [19]:
df.duplicated().sum()

0

In [21]:
df.shape

(5169, 2)